html,
body,
#__next {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial;
  padding: 0 1rem;
  background: #f8fafc;
  color: #0f172a;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
}
nav a {
  margin-right: 1rem;
}
